{% assign site_logo = site.logo | relative_url %}

<header id="masthead">
  <div class="inner">
    <nav class="nav-bar">
      <!--Home link-->
      <a href="{{ '/' | relative_url }}" itemprop="url">
        <span itemprop="name">{{ site.data.theme.t.home | default: 'Home' }}</span>
        <span class="underline-animation"></span>
      </a>

      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.data.theme.navigation_pages | default: default_paths %}
      
      <!--Links from navigation_pages in theme.yml-->
      {% for item in site.data.theme.navigation_pages %}
        <a href="{{ item.url | relative_url }}" itemprop="url">
        <span itemprop="name">{{ item.title }}</span>
        <span class="underline-animation"></span>
        </a>
      {% endfor %}
    </nav>

    <div class="title-area">
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
        </h1>
    </div>
  </div>
</header>
