{% assign site_logo = site.logo | relative_url %}

<header id="masthead">
    <style>
        /*show nav bar and hide hamburger for laptops, desktops, etc*/
        .sidebar-toggle-wrapper { display: none; }
        #sidebar { display: none; }
        .nav-bar { display: flex; }

        /*hide nav bar and show hamburger on smaller screens*/
        @media (max-width: 768px) {
            .nav-bar { display: none; }
            .sidebar-toggle-wrapper { display: block; }
            #sidebar { display: block; } 
        }
    </style>
    
  <div class="inner"
    style="display: flex; align-items: center; justify-content: space-between;"
  >

    <nav class="nav-bar" 
        style="gap: 1.5rem;"
    >
      <!--Home link-->
      <a href="{{ '/' | relative_url }}" itemprop="url">
        <span itemprop="name">{{ site.data.theme.t.home | default: 'Home' }}</span>
      </a>

      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.data.theme.navigation_pages | default: default_paths %}
      
      <!--Links from navigation_pages in theme.yml-->
      {% for item in site.data.theme.navigation_pages %}
        <a href="{{ item.url | relative_url }}" itemprop="url">
        <span itemprop="name">{{ item.title }}</span>
        </a>
      {% endfor %}
    </nav>

    <div class="title-area">
      {% if page.url == '/' %}
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
        </h1>
      {% else %}
        <p class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
        </p>
      {% endif %}
    </div>
  </div>
</header>