{% assign site_logo = site.logo | relative_url %}

<header id="masthead">
    <style>
        /*show nav bar and hide hamburger for laptops, desktops, etc*/
        .sidebar-toggle-wrapper { display: none; }
        #sidebar { display: none; }
        .nav-bar { display: flex; }

        /*hide nav bar and show hamburger on smaller screens*/
        @media (max-width: 768px) {
            .nav-bar { display: none; }
            .sidebar-toggle-wrapper { display: block; }
            #sidebar { display: block; } 
        }
    </style>
    
  <div class="inner"
    style="display: flex; align-items: center; justify-content: space-between;"
  >

    <nav class="nav-bar" 
        style="gap: 1.5rem;"
    >
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/joining-skip' | relative_url }}">Joining SKIP</a>
        <a href="https://github.com/skipgu/past-exams">Past Exams</a>
        <a href="{{ '/skip-iot-kit' | relative_url }}">IoT Kits</a>
        <a href="{{ '/blogs' | relative_url }}">Blogs</a>
    </nav>

    <div class="title-area">
      {% if page.url == '/' %}
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
        </h1>
      {% else %}
        <p class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
        </p>
      {% endif %}
    </div>
  </div>
</header>